
/* 
 * COLORS 
 * Primary: #e67e22;
 * Tints:
 * #fdf2e9
 * #fae5d3
 * #f5cba7
 *
* Shades:
 * #cf711f
 * Accents:
 * Grays:
 * #343a40
 * #495057
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none !important;
}

button {
    border: none;
    background-color: transparent;
}
