.button {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    font-size: clamp(1.2rem, 0.991rem + 0.65vw, 1.8rem);
    border-radius: 0.8rem;
    text-decoration: none;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
}

/* Variantes */
.button--primary {
    font-weight: 600;
    color: #fff;
    background-color: #e67e22;
}

.button--primary:hover {
    background-color: #cf711f;
}

.button--secondary {
    font-weight: 400;
    color: #e67e22;
    background-color: #fff;
    outline: 4px solid #fff;
    outline-offset: -4px;
}

.button--secondary:hover {
    background-color: #fdf2e9;
}

.button--tertiary {
    font-weight: 400;
    color: #e67e22;
    background-color: transparent;
}

/* Link */
.button--link {
    width: max-content;
    padding: 0.4rem 0.8rem;
    border-bottom: 1px solid currentColor;
    border-radius: 0;
}

.button--link:hover {
    border-color: transparent;
}

/* Com ícone */
.button--with-icon {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
}

.button__icon {
    height: 1.4rem;
}
