.featured-in {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.featured-in__title {
    color: #868e96;
    font-size: clamp(1rem, 1.8vw, 1.8rem);
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
}

.featured-in__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-in__logos img {
    height: clamp(0.8rem, -0.035rem + 2.61vw, 3.2rem);
    filter: brightness(0);
    opacity: 0.4;
    z-index: -1;
}
