.featured-in {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.featured-in__title {
    color: #868e96;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
}

.featured-in__logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.featured-in__logos img {
    height: 2.4rem;
    filter: brightness(0);
    opacity: .4;
}
