.header {
    position: relative;
    height: 6.4rem;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdf2e9;
}

.logo {
    position: relative;
    z-index: 1;
    height: 2rem;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(253, 242, 233, 0.925);
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.045);
    z-index: 9999;
}

/* para larguras a partir de 768px */
@media (min-width: 48em) {
    .header {
        padding: 0 2.4rem;
    }
}

/* para larguras a partir de 1440px */
@media (min-width: 90em) {
    .header {
        padding: 0 3.2rem;
    }
}
