.section--hero {
    background-color: #fdf2e9;
}

.hero {
    padding: 0 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 6.4rem;
    text-align: center;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    margin-bottom: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    font-size: clamp(2.4rem, 1.287rem + 3.48vw, 5.6rem);
}

.hero__description {
    margin-bottom: 5.6rem;
    color: #495057;
    line-height: 1.7;
    font-size: clamp(1.2rem, 0.783rem + 1.30vw, 2.4rem);
}

.hero__actions {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.hero__img img {
    max-width: 80%;
}

/* para larguras a partir de 768px */
@media (min-width: 48em) {
    .hero {
        padding: 0 9.6rem;
    }

    .hero__img img {
        max-width: 100%;
    }
}

/* para larguras a partir de 1024px */
@media (min-width: 64em) {
    .hero {
        margin: 0 auto;
        padding: 0 4.8rem;
        grid-template-columns: 1.25fr 1fr;
        text-align: left;
    }

    .hero__text {
        align-items: start;
    }
}

/* para larguras a partir de 1240px */
@media (min-width: 77.5em) {
    .hero {
        padding: 0;
        max-width: 124rem;
    }
}
