.section--meals .section__header {
    text-align: center;
}

.meals {
    padding-inline: 2.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr;
    gap: 2.4rem;
}

.meal {
    height: max-content;
    border-radius: 1.2rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    overflow: hidden;
    transition: all 0.3s ease;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 4.8rem 9.6rem rgba(0, 0, 0, 0.05);
}

.meal__img {
    width: 100%;
}

.meal__content {
    padding: 1.6rem 1.6rem 3.2rem;
    display: flex;
    flex-direction: column;
}

.meal__categories {
    display: flex;
    gap: 0.8rem;
}

.meal__category {
    padding: 0.4rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50px;
}

.meal__category.vegetarian {
    background-color: #37b24d;
}

.meal__category.vegan {
    background-color: #82c91e;
}

.meal__category.paleo {
    background-color: #ffd43b;
}

.meal__title {
    padding-block: 1.2rem 2.4rem;
    font-size: 1.8rem;
}

.meal__details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: #495057;
    font-size: 1.4rem;
}

.meal__detail {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.meal__icon {
    width: 2.4rem;
    height: 2.4rem;
    stroke: #e67e22;
}

.meal__label {
}

.meal__value {
    font-weight: 500;
}

/* para larguras a partir de 425px */
@media (min-width: 26.5625em) {
    .meals {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* para larguras a partir de 768px */
@media (min-width: 48em) {
    .meals {
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        max-width: 80rem;
    }
}

/* para larguras a partir de 1024px */
@media (min-width: 64em) {
    .meals {
        gap: 3.2rem;
    }
}
