.section {
    padding: 3.2rem 0;
}

.section__header {
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.section__subtitle {
    color: #e67e22;
    font-size: clamp(1rem, 2vw, 1.6rem);
    font-weight: 500;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.section__title {
    font-size: clamp(2.4rem, 1.565rem + 2.61vw, 4.8rem);
    line-height: 1.2;
    letter-spacing: -1px;
}

.section__footer {
    padding-block: 3.2rem;
    text-align: center;
}

@media (min-width: 48em) {
    .section {
        padding: 6.4rem 0;
    }

    .section__header {
        margin-bottom: 6.4rem;
    }
}
