.section--testimonials {
    background-color: #fdf2e9;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    color: #495057;
}

.testimonial:not(:last-of-type) {
    padding-bottom: 2.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.025);
}


.testimonial__avatar {
    width: 6.4rem;
    border-radius: 50%;
}

.testimonial__text {
    margin-block: 1.2rem;
    font-size: clamp(1.2rem, 1.061rem + 0.43vw, 1.6rem);
    line-height: 1.5;
}

.testimonial__name {
    font-size: 1.4rem;
    color: #868e96;
}

@media (min-width: 48em) {
    .testimonials {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6.4rem;
    }

    .testimonial {
        padding-bottom: 0;
        border-bottom: none;
    }
}
