.featured-in {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.featured-in__title {
    color: #868e96;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.featured-in__logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 2.4rem; */
}

.featured-in__logos img {
    height: 2.4rem;
    filter: brightness(0);
    opacity: .5;
}
