.header {
    height: 9.6rem;
    padding-inline: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fdf2e9;
}

.logo {
    height: 1.8rem;
}

